inquirer==3.4.0
polars==1.7.1
pydantic==2.9.1
platformdirs==4.3.6
tinydb==4.8.0
XlsxWriter==3.2.0
filelock==3.16.1
plotly==5.24.1
dash==2.18.1
pandas==2.2.3 # needed by plotly
numpy==2.1.2 # needed by plotly
waitress==3.0.0
